#AboutMe{
    padding: 50px 0px;
}

#AM-icon-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.AM-icons {
    margin-right: 15px;
    color: black;
}

#AM-name {
    font-size: 60px;
}

#AM-summary {
    font-size: 25px;
}

.AM-light {
    font-weight: normal;
  }

#AM-bio {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.line {
    border: 1px solid black;
    width: 100%;
}